@model IEnumerable<Noested.Models.Checklist>

@{
    ViewData["Title"] = "Index";
}

<h1>Sjekklisteoversikt</h1>

<p>
    <a asp-action="Create">Ny sjekkliste</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChecklistId)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.ProductType)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.ServiceProcedure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChecklistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProcedure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChecklistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChecklistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChecklistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
